body {
    max-width: 500px;
    margin: auto;
    padding: 0 13px 13px 13px;
}
html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'source-code-pro', monospace;
    font-size: 13px;
}
header {
    margin-top: 2em;
    margin-bottom: 1em;
}
p {
    margin-bottom: 1em;
}
h1, h2, h3 {
    font-family: 'source-sans-pro', sans-serif;
    font-weight: 300;
    margin-bottom: 13px;
}
h1 {
    font-size: 3.998em;
}
#subheading {
    font-family: 'source-sans-pro', sans-serif;
    font-size: 1.141em;
}
a {
    color: #000;
}