html {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}
body {
	max-width: 500px;
	margin: 1em auto 1em auto;
	padding: 1em;
	color: #333;
}
header {
	margin-bottom: 1em;
}
h1, h2, h3 {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0.5em;
};
h1 {
	font-size: 4em;
}
h2 {
	font-size: 1.414em;
}
a {
	color: #444;
}
.content {
	font-size: 2em;
}